@media only screen and (max-width: 600px) {
    .courseCategory_wrp{
             width: 100%;
             .card_wrp{
             width: 100%;
             justify-content: center;
            .articles_wrp{

            }
             }
    }
}